.product-container {
    background: #F5F6FB;
    display: grid;
    height: auto;
    grid-template-columns: 1478px 353px;
    /* padding: 20px; */
    margin-left: 30px;
    padding-bottom: 10px;
    gap: 30px;



    .product-left-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;

        padding: 15px;

        #row1 {
            display: flex;
            width: 1478px;
            height: 237px;
            /* padding: 20px 32px; */
            flex-direction: column;
            justify-content: space-evenly;
            align-items: last baseline;
            /* gap: 10px; */
            flex-shrink: 0;
            border-radius: 10px;
            /* background: var(--Snow, #FFF); */
            box-shadow: 0px 2.767px 2.214px 0px rgba(108, 73, 172, 0.02), 0px 6.65px 5.32px 0px rgba(108, 73, 172, 0.03), 0px 12.522px 10.017px 0px rgba(108, 73, 172, 0.04), 0px 22.336px 17.869px 0px rgba(108, 73, 172, 0.04);

            .optiprime-heading-subheading {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                /* background-color: red; */

                .optiprime-heading {
                    width: 317px;
                    color: #383874;
                    font-family: Poppins;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.75px;
                }

                .optiprime-subheading {
                    width: 259px;
                    color: #383874;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }




            }
        }
    }
}

.product-container {
    .cards-logo-leaf-section {
        width: 100%;
        height: 211px;
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 150px;

        .cards {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 17px;
            padding-left: 30px;

            .card-top {
                width: 165px;
                height: 149.487px;
                flex-shrink: 0;
                border-radius: 10px;
                border: 1px solid #CAC7C7;
                background: #FFF;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                gap: 5px;

                /* padding-left: 20px; */
                padding-bottom: 10px;

                div {
                    margin-left: 10px;
                }

                .icon-circle {
                    height: 38px;
                    width: 38px;
                    background: rgba(71, 255, 89, 0.45);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }

                .reading-section {
                    .reading {
                        color: #383874;
                        font-family: Poppins;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    .reading-unit {
                        color: var(--grey, #9E9E9E);
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }

        .logo-leaf {
            /* background: red; */
            height: 100%;
            width: 4000px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            /* padding: 0; */
            /* margin-right: 0; */
            .logo-name {
                width: 212px;
                height: 91px;
                flex-shrink: 0;
                background: url("../assets/Optiprime.png");
            }

            .leaf-img {
                background: url("../assets/leaf-svg.svg");
                width: 150px;
                right: 0;
                height: 100%;
                padding: 0;
            }
        }


    }
}

.product-container #row2 {
    display: flex;
    width: 1478px;
    height: 654px;
    padding: 20px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Snow, #FFF);
    box-shadow: 0px 2.767px 2.214px 0px rgba(108, 73, 172, 0.02), 0px 6.65px 5.32px 0px rgba(108, 73, 172, 0.03), 0px 12.522px 10.017px 0px rgba(108, 73, 172, 0.04), 0px 41.778px 33.422px 0px rgba(108, 73, 172, 0.05);

    .date-calendar-filters {
        display: flex;
        width: 1435px;
        height: 40px;
        padding: 0px 20px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;

        .select-dates-filters {
            display: flex;
            align-items: center;
            gap: 12px;
            width: 260px;
            height: 40px;

            .select-dates {
                width: 145px;
                display: flex;
                align-items: center;
                height: 40px;
                gap: 8px;
                border-radius: 8px;
                border: 1px solid var(--Gray-300, #D0D5DD);
                background: var(--Base-White, #FFF);
                padding-left: 10px;
                /* Shadow/xs */
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

                .select-date {
                    color: var(--Gray-500, #667085);

                    /* Text sm/Semibold */
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    /* 142.857% */
                }
            }

            .filters {
                width: 103px;
                height: 40px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                gap: 8px;
                border-radius: 8px;
                border: 1px solid var(--Gray-300, #D0D5DD);
                background: var(--Base-White, #FFF);

                /* Shadow/xs */
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            }


        }

        .date-range-buttons {
            display: flex;
            /* border-radius: 8px; */
            border: 1px solid var(--Gray-300, #D0D5DD);
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;

            button {
                display: flex;
                padding: 10px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                /* border-right: 1px solid var(--Gray-300, #D0D5DD); */
                background: var(--Base-White, #FFF);
                color: var(--Gray-700, #344054);

                /* Text sm/Semibold */
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                /* 142.857% */
            }

            .days {
                border: none;
                border-right: 1px solid var(--Gray-300, #D0D5DD);


            }

            #ten {
                border-right: 1px solid var(--Gray-300, #D0D5DD);
            }

            #sixty {
                border-right: none;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }


            .today {
                display: flex;
                padding: 10px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border: none;
                border-right: 1px solid var(--Gray-300, #D0D5DD);
                background: #F6F8FF;
                color: var(--Gray-800, #1D2939);
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;

                /* Text sm/Semibold */
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                /* 142.857% */
            }
        }
    }

    .electrical-table-headings {
        width: 100%;
        display: flex;
        padding: 0px 30px;
        flex-direction: row;
        /* justify-content: space-between; */
        gap: 752px;

        div {
            color: #000;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            /* 100% */
            letter-spacing: 0.4px;
        }
    }

    .tables-center-img-section {
        width: 98%;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* padding: 0px 20px; */
        /* padding: 0px 20px; */
        /* background-color: red; */
        margin-right: 20px;
        margin-left: 20px;


        .center-img-section {
            width: 870px;
            display: flex;
            /* background: blue; */
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            /* padding-left: 20px; */
            margin-right: 20px;

            .center-left-img,
            .center-right-img {
                width: 340px;
                height: 197px;
                flex-shrink: 0;
                /* border: 1px solid red; */
            }

            .center-left-img {
                background: url("../assets/machine-engine.png");
                background-size: contain;
            }

            .center-logo {
                display: flex;
                align-items: center;
                /* justify-content: space-evenly; */
                width: 80px;
                height: 100px;
                flex-shrink: 0;
                border-radius: 6px;
                border: 3px solid #8D8D8D;
                background: #FFF;
                position: relative;
                box-shadow: 0px 2.767px 2.214px 0px rgba(108, 73, 172, 0.02), 0px 6.65px 5.32px 0px rgba(108, 73, 172, 0.03), 0px 12.522px 10.017px 0px rgba(108, 73, 172, 0.04), 0px 22.336px 17.869px 0px rgba(108, 73, 172, 0.04), 0px 41.778px 33.422px 0px rgba(108, 73, 172, 0.05), 0px 100px 80px 0px rgba(108, 73, 172, 0.07);

                img {
                    position: absolute;
                    width: 100%;
                }
            }

            .center-right-img {
                background: url("../assets/machine-engine-1.png");
            }
        }

        .left-table,
        .right-table {
            width: 285px;
            height: 280px;
            flex-shrink: 0;
            border-radius: 12px;
            border: 1px solid rgba(0, 0, 0, 0.11);
            background: rgba(232, 240, 255, 0.39);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 20px;

            .table-reading-titles {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 20px;

                div {

                    width: 196px;
                    color: var(--Night-Blue, #383874);
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.44px;
                }
            }

            .table-reading-values {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-right: 10px;

                div {
                    color: var(--Night-Blue, #383874);
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.44px;
                }
            }
        }
    }

    .bottom-cards-heading {
        width: 357px;
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        /* 100% */
        letter-spacing: 0.4px;
        margin-left: 20px;


    }

    .bottom-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: red;e */
        width: 97%;
        margin: 0px 20px;

        .bottom-cards-left,
        .bottom-cards-right {
            display: flex;
            justify-content: space-between;
            gap: 24px;

            .bottom-card {
                width: 131px;
                height: 149px;
                flex-shrink: 0;
                border-radius: 12px;
                border: 1px solid #CAC7C7;
                background: #FFF;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                div {
                    margin-left: 10px;
                }

                .bottom-reading {
                    width: 78px;
                    height: 30px;
                    /* background: red; */
                }

                .bottom-title {
                    width: 110px;
                    height: 30px;
                    /* background: blue; */
                    padding: 0;
                }

                .bottom-logo {
                    height: 47px;
                    width: 47px;
                    background: url("../assets/frequency-icon.png");
                    background-size: contain;
                }

                #engine-rpm {
                    background: url("../assets/dynamo-img.png");
                    background-size: cover;

                }

                #coolant {
                    background: url("../assets/coolant-icon.png");
                    background-size: cover;

                }

                #pressure-gauge {
                    background: url("../assets/pressure-gauge\ 1.png");
                    background-size: cover;
                    width: 41px;
                    height: 37px;

                }

                #oil-pressure {
                    font-size: 10px;
                }

                .bottom-reading {
                    color: var(--Night-Blue, #383874);
                    font-family: Poppins;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                    /* 125% */
                    letter-spacing: 0.44px;
                }

                .bottom-title {
                    color: var(--Night-Blue, #383874);
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                    /* 214.286% */
                    letter-spacing: 0.44px;
                }

            }
        }
    }

}

.product-container #row3 {
    position: relative;
    width: 1481px;
    height: 302px;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--White, #FFF);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
    img{
        position: absolute;
        width: 100%;
    }
}

.product-container .product-right-section {
    /* background: #FFF; */
    /* border: 1px solid gray; */
    margin-top: 50px;
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding-top: 10px;

    .bottom-right {
        margin-top: -30px;
        display: flex;
        width: 315px;
        height: 300px;
        padding: 20px;
        padding-top: 0px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        flex-shrink: 0;
        border-radius: 10px;
        background: var(--Snow, #FFF);
        box-shadow: 0px 2.767px 2.214px 0px rgba(108, 73, 172, 0.02), 0px 6.65px 5.32px 0px rgba(108, 73, 172, 0.03), 0px 12.522px 10.017px 0px rgba(108, 73, 172, 0.04);
        margin-bottom: 20px;

        .power-controls-heading {
            color: #383874;
            font-family: Poppins;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 56px;
            /* 200% */
            letter-spacing: -0.75px;

        }

        .gensets-icons-button {
            width: 285px;
            height: 78px;
            /* border: 1px solid black; */
            display: flex;
            justify-content: space-between;
            align-items: center;

            .genset-icon {
                height: 78px;
                width: 78px;
                /* border: 1px solid; */
                background: url('../assets/generator.png');
            }

            .genset-title {
                color: #000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;
                /* 100% */
                letter-spacing: 0.4px;
            }
        }

        .running-time-stats {
            height: 58px;
            width: 138px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .running-time-heading {
                color: var(--grey, #9E9E9E);
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .running-time-mins {
                color: var(--Night-Blue, #383874);
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 25px;
                /* 104.167% */
                letter-spacing: 0.44px;
            }
        }


    }

    .top-right {
        background: var(--Snow, #FFF);
        height: 871px;
        margin-top: 10px;
        border-radius: 10px;
        background: var(--Snow, #FFF);
        box-shadow: 0px 2.767px 2.214px 0px rgba(108, 73, 172, 0.02), 0px 6.65px 5.32px 0px rgba(108, 73, 172, 0.03), 0px 12.522px 10.017px 0px rgba(108, 73, 172, 0.04);

        .notifications-list {
            display: flex;
            flex-direction: column;
            align-items: center;

            .notifications-heading {
                width: 305px;
                height: auto;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                padding: 24px 12px;
                align-items: center;
                /* background: blue; */

                .notification {
                    color: var(--Gray-900, #101828);
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                    /* 150% */
                }

                .close-btn {
                    /* background-color: red; */
                    height: 40px;
                    width: 40px;
                    padding: 5px;

                    svg {
                        height: 30px;
                        width: 30px;
                    }
                }
            }

            .notification-card {
                display: flex;
                flex-direction: row;
                gap: 30px;
                justify-content: flex-start;
                align-items: center;
                width: 85%;
                /* padding-top: 20px; */
                /* background: red; */

                .left-bell {
                    background: url("../assets/bell-img.png");
                    display: flex;
                    width: 48px;
                    height: 48px;
                    padding: 36px 0px 0px 50px;
                    justify-content: flex-end;
                    align-items: center;
                    z-index: 99;

                }

                .right-content {
                    padding-top: 20px;
                    .name-time {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        /* background: pink; */
                        gap: 10px;
                        /* justify-content: space-between; */
                        margin-bottom: 10px;

                        .name {
                            color: var(--Gray-700, #344054);
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 20px;
                            /* 142.857% */
                        }

                        .time {
                            color: var(--Gray-600, #475467);
                            font-family: Poppins;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 18px;
                            /* 150% */
                        }
                    }
                    .details{
                        height: 80px;
                        width: 250px;
                        display: flex;
                        justify-content: center;
                        padding: 0;
                    }
                }
            }
        }

    }

}